.hero {
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  background-color: #f9f9f9;
  overflow: hidden;
  img {
    min-height: 50vh;
    max-height: 70vh;
    width: 100%;
    object-fit: cover;
    object-position: bottom center;
    position: absolute;
    top: 0;
    left: 0;
  }

  .card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: fit-content;
    fit-content: 1;

    .header {
      padding: 1em;
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 8px;
      color: white;
      text-align: center;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

      margin-bottom: 1rem;

      h1 {
        margin-bottom: 0.5rem;
      }

      h4 {
        opacity: 0.75;
      }
    }
  }
}
